@font-face{
    font-family:'EVi';
    src: url('../font/ElleBaskerville.woff') format('woff');
    src: url('../font/ElleBaskerville.woff2') format('woff2');
    display: fallback;
}

@font-face{
    font-family: 'EViB';
    src: url('../font/ElleBaskerville-Bold.woff') format('woff');
    src: url('../font/ElleBaskerville-Bold.woff2') format('woff2');
    display: fallback;
}

@font-face{
    font-family: 'EviB-Italic';
    src: url('../font/ElleBaskerville-BoldItalic.woff') format('woff');
    src: url('../font/ElleBaskerville-BoldItalic.woff2') format('woff2');
    display: fallback;
}